<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>game</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RicercaServlet</display-name>
    <servlet-name>RicercaServlet</servlet-name>
    <servlet-class>it.generationitaly.game.controller.RicercaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaServlet</servlet-name>
    <url-pattern>/cerca</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VideogiocoServlet</display-name>
    <servlet-name>VideogiocoServlet</servlet-name>
    <servlet-class>it.generationitaly.game.controller.VideogiocoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideogiocoServlet</servlet-name>
    <url-pattern>/videogioco</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtenteServlet</display-name>
    <servlet-name>UtenteServlet</servlet-name>
    <servlet-class>it.generationitaly.game.controller.UtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtenteServlet</servlet-name>
    <url-pattern>/utente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignInServlet</display-name>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>it.generationitaly.game.controller.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/sign-in</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>it.generationitaly.game.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>it.generationitaly.game.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>it.generationitaly.game.controller.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
</web-app>